[Unit]
Description=My nice service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /opt/app/carrental-0.0.1-SNAPSHOT.jar
Restart=always

[Install]
WantedBy=multi-user.target